* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

@media (max-width: 600px) {
  * {
    font-size: 14px; } }



#main-container {
  margin: 20px auto;
  width: 100%;
  max-width: 800px; }

@media (max-width: 600px) {
  #main-container {
    margin: 7px auto; } }

header {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  border: 1px solid #c5c3c6;
  box-shadow: 0 0 6px #46494c; }

@media (max-width: 600px) {
  header {
    margin: 7px;
    padding: 7px; } }

#title {
  margin: 10px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #3185fc; }

#description {
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #46494c; }

@media (max-width: 600px) {
  #title {
    font-size: 22px; }
  #description {
    font-size: 16px; } }

#form-container {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  border: 1px solid #c5c3c6;
  box-shadow: 0 0 6px #46494c; }

@media (max-width: 600px) {
  #form-container {
    margin: 7px;
    padding: 7px; } }

.question-container {
  margin: 20px;
  background: white; }

@media (max-width: 600px) {
  .question-container {
    margin: 7px; } }

.question-label {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  padding-top: 0;
  line-height: 40px;
  font-weight: bold;
  color: #3185fc; }

.row-input, .big-size-input {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #c5c3c6;
  transition: box-shadow 0.3s; }

.row-input:focus, .big-size-input:focus {
  box-shadow: 0 0 6px #c5c3c6; }

.option-group {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  height: auto;
  width: 100%;
  padding: 1px;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #c5c3c6; }

.option-container {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  height: 30px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px; }

.option-label {
  margin-left: 10px;
  color: #46494c; }

input:checked + .option-label {
  font-weight: bold; }

.big-size-input {
  height: 120px;
  resize: none; }

#submit {
  margin: 20px;
  height: 40px;
  width: calc(100% - 2 * 20px);
  background: #3185fc;
  border-radius: 5px;
  border: 1px solid #c5c3c6;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s; }

@media (max-width: 600px) {
  #submit {
    margin: 7px;
    width: calc(100% - 2 * 7px); } }

#submit:hover {
  box-shadow: 0 0 6px #c5c3c6; }


  #generar {
    margin: 20px;
    height: 40px;
    width: calc(100% - 2 * 20px);
    background: #3185fc;
    border-radius: 5px;
    border: 1px solid #c5c3c6;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s; }
  
  @media (max-width: 600px) {
    #generar {
      margin: 7px;
      width: calc(100% - 2 * 7px); } }
  
  #generar:hover {
    box-shadow: 0 0 6px #c5c3c6; }

#resp {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #3185fc; }



#bot {
  margin: 20px;
  height: 40px;
  width: calc(100% - 2 * 20px);
  background: #3185fc;
  border-radius: 5px;
  border: 1px solid #c5c3c6;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s; }

@media (max-width: 600px) {
  #bot {
    margin: 7px;
    width: calc(100% - 2 * 7px); } }

#bot:hover {
  box-shadow: 0 0 6px #c5c3c6; }








  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }



  body {
    padding: 25px;

    font-size: 25px;
  }

  .dark-mode {
    background-color: black;
    color: white;
  }

#agradecimiento{
margin: 10px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #3185fc; }




  #text-animate {
    margin: 10px auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #3185fc; }
 .js p { 
   visibility: hidden; 
   position: relative; 
 }


 #submit2 {
  margin: 20px;
  height: 40px;
  width: calc(100% - 2 * 20px);
  background: #3185fc;
  border-radius: 5px;
  border: 1px solid #c5c3c6;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s; }

@media (max-width: 600px) {
  #submit2 {
    margin: 7px;
    width: calc(100% - 2 * 7px); } }

#submit2:hover {
  box-shadow: 0 0 6px #c5c3c6; }





